/* =================
/ VARIABLES
================= */
:root {
  --pink: rgb(238,174,202);
  --blue: rgb(148,187,233);
  --purple: rgb(191, 179, 215);
  --gradient: linear-gradient(to left, var(--pink) 0%, var(--blue) 100%);
}

/* =================
/ GENERAL
================= */
body {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  width: 100%;
}
.error-status {
  width: 90%;
  margin: 20px auto;
  text-align: center;
  font-family: 'Do Hyeon';
  font-size: 3em;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* =================
/ HEADER
================= */
header {
  width: 100%;
  border-width: 5px;
  border-style: solid;
  border-image: var(--gradient);
  border-image-slice: 1;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  font-family: 'Do Hyeon';
}
.header-container {
  padding: 1.5em;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}
.header-title {
  font-size: 1.5em;
  text-transform: uppercase;
}
.header-title a {
  color: #444;
}
.header-title a:after {
  content: '';
  display: block;
  height: 3px;
  background: var(--gradient);
  width: 0%;
}
.header-title a:hover:after {
  width: 100%;
  transition: 0.7s ease-in-out;
}
.header-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header-navigation li {
  display: inline-block;
  margin: 5px 10px;
  font-size: 0.8em;
  font-family: 'Overpass';
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header-navigation a {
  color: #444;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.header-navigation a:after {
  content:'';
  display: block;
  background: var(--gradient);
  height: 3px;
  position: relative;
  top: 2.3em;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.header-navigation a:hover:after {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.header-navigation a:hover {
  color: var(--pink);
  letter-spacing: 2px;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}

/* =================
/ HOME PAGE
================= */
.cohorts-container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: 2em auto;
}
.cohort-card {
  width: 31%;
  height: 4em;
  padding: 10px;
  margin: 0 10px 20px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 2px 2px white;
  color: white;
}
.cohort-card:nth-of-type(odd) {
  background: var(--purple);
}
.cohort-card:nth-of-type(even) {
  background: var(--blue);
}
.cohort-card:hover {
  cursor: pointer;
  box-shadow: 2px 2px #ccc;
  background: var(--pink);
}
.cohort-card h1 {
  margin: 0;
  font-family: 'Do Hyeon';
  font-size: 1.2em;
  text-transform: uppercase;
  text-shadow: 1px 1px #aaa;
  letter-spacing: 2px;
}
.cohort-student-count {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Overpass';
  font-size: 0.6em;
  position: relative;
  top: 10px;
}

/* =================
/ COHORT PAGE GEN
================= */
.cohort-container {
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}
.cohort-container h1 {
  font-family: 'Do Hyeon';
  font-size: 1.7em;
  letter-spacing: 2px;
  color: #666;
  margin: 0;
}
.roster-container {
  width: 30%;
  min-height: 500px;
  padding: 10px;
  border-radius: 8px;
  background: white;
  box-shadow: 1px 1px #eee;
  box-sizing: border-box;
}
.roster-container h2 {
  font-family: 'Overpass';
  font-size: 0.7em;
  letter-spacing: 1.5px;
  color: #999;
  margin: 0;
}
.roster-container h2:after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  margin: 5px 0;
  background: var(--gradient);
}
.students-container {
  margin: 10px 0;
}
.student {
  width: 90%;
  margin: 5px auto;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Overpass';
  font-weight: 300;
  font-size: 0.7em;
  color: white;
  box-sizing: border-box;
  border-radius: 6px;
  background: var(--purple)
}
.student:hover {
  cursor: pointer;
  background: var(--pink);
  box-shadow: 1px 1px #eee;
}
/* =================
/ COHORT PAGE WORK
================= */
.workspace-container {
  width: 68%;
  min-height: 500px;
  padding: 10px;
  border-radius: 8px;
  background: white;
  box-shadow: 1px 1px #eee;
  box-sizing: border-box;
}
.workspace-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.workspace-navigation li {
  display: inline-block;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7em;
  font-family: 'Do Hyeon';
  color: #888;
  border-bottom: 1px solid #eee;
  transition: 0.3s ease-in-out;
}
.workspace-navigation li span {
  display: inline-block;
  float: left;
  margin-top: 1px;
  color: rgb(205, 131, 164);
}
.workspace-navigation li:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--blue);
}
.workspace-navigation li.active-nav {
  border-bottom: 1px solid  var(--blue);
}
/* =================
/ COHORT PAGE ADD
================= */
.form-container {
  width: 50%;
  margin: 30px auto;
}
.form-container h1:after {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  background: var(--gradient);
}
.form-container form {
  margin: 10px 0;
}
.form-container input {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 6px;
}
.form-container input:focus {
  border: 1px solid var(--purple);
  outline: 0;
}
.form-container input::placeholder {
  font-family: 'Overpass';
  font-size: 0.9em;
  font-weight: 300;
  text-transform: uppercase;
  color: #999;
}
.form-container input[type="submit"] {
  border: 0px;
  background: rgb(241, 189, 212);
  color: white;
  font-family: 'Do Hyeon';
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.form-container input[type="submit"]:hover {
  cursor: pointer;
  background: var(--gradient);
  box-shadow: 1px 1px #ccc;
  text-shadow: 1px 1px #ccc;
}
/* =================
/ COHORT PAGE BOARD
================= */
.whiteboard-container {
  width: 95%;
  height: 390px;
  padding: 10px;
  margin: 20px auto 0 auto;
  border: 1px solid transparent;
  border-image: var(--gradient);
  border-image-slice: 1;
  border-width: 1px
}
